@use '../base/variables' as v;
@use '../base/mixins' as m;

.myCanvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .myCanvas {
        width: 70%;
    }
}

.about {
    padding: 1rem 2rem;
    margin-bottom: 12rem;
    position: relative;

    @include m.tablet {
        margin-bottom: 0;
    }

    .title {
        color: v.$color-hover;
        font-size: 4.5rem;
        margin-top: 8rem;

        @include m.tablet {
            margin-top: 0;
        }
    }

    .skills-charts {
        margin: 4rem 0;
        width: 100%;

        @include m.tablet {
            width: 40%;
        }
    }

    .c-info {
        width: 50%;

        .info {
            margin: 1.6rem 0;
        }
    }

    .tag-cloud {
        margin-bottom: 2rem;
    }

    .c-cv {
        margin-top: 6rem;

        .btn-cv {
            width: 100%;
            display: block;
            text-align: center;
            top: 0;

            @include m.tablet {
                max-width: 45rem;
            }
        }
    }

}


.main-a {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 0 1rem;

    @include m.tablet {
        padding: 0;
        flex-direction: row;
    }

    .c-info {
        width: 100%;

        @include m.desktop {
            width: 50%;
        }

        .info {
            width: auto;
            padding: 0;
            width: 100%;
            max-width: 45rem;

            &:nth-child(2) {
                position: relative;

                &::before {
                    content: '<p>';
                    position: absolute;
                    color: #666565;
                    font-family: "La Belle Aurore";
                    font-size: 1.8rem;
                    top: -4rem;

                    @include m.tablet {
                        font-size: 2.2rem;
                    }
                }
            }

            &:nth-child(4) {
                position: relative;

                &::after {
                    content: '</p>';
                    position: absolute;
                    color: #666565;
                    font-family: "La Belle Aurore";
                    font-size: 1.8rem;
                    left: 0;
                    bottom: -4rem;

                    @include m.tablet {
                        font-size: 2.2rem;
                    }
                }
            }
        }
    }

    .tag-end {
        &::before {
            bottom: -1rem;

            @include m.tablet {
                bottom: 3rem;
            }
        }

        &::after {
            bottom: -4rem;

            @include m.tablet {
                bottom: 0;
            }
        }
    }

}


.myCanvasContainer {
    .myCanvas {
        width: 100%;
    }

    @include m.tablet {
        width: 100%;
    }
}


// FIX STYLES
.main-a {
    width: 100%;

    @include m.tablet {
        position: relative;
        width: 74%;
        margin: 0;
        margin-left: auto;
    }

    @include m.desktop {
        width: initial;
    }
}

.about {

    .social-media {
        padding: 0;
    }

    .tag-init {
        @include m.tablet {
            top: 0;
            right: 0;
            width: 74%;
            margin-left: auto;
        }

        @include m.desktop {
            width: initial;
        }
    }

    .main-a {
        flex-wrap: wrap;
        padding: 0;

        @include m.tablet {
            margin-top: 12rem;
        }

        @include m.desktop {
            margin-top: 0;
        }



        .tag-end {
           

            &::before,
            &::after {
                padding: 0;

                @include m.tablet {
                    padding-left: 20px;

                }
            }
        }

        .c-info {
            @include m.tablet {
                padding: 0 2rem;
            }

            .info {
                height: initial;
                max-width: unset;
            }
        }

        // SKILLS CHARTS - ESFERA
        .skills-charts {
            width: 100%;
            display: flex;
            justify-content: center;
            @include m.tablet {
                width: 85%;
            }
            @include m.desktop {
                width: 40%;

                .myCanvasContainer {
                    width: 80%;
                }

            }
        }

        @include m.desktop {
            width: 100%;
        }
    }
    .tag-end {
        bottom: 0;
        position: absolute;
        width: 74%;
        bottom: 0;
        right: 0.2rem;
        left: 0;

        @include m.tablet {
            left: initial;
        }
        @include m.desktop {
            width: unset;
            left: 0;
        }

        &::before {
            bottom: -1rem;
            @include m.tablet {
                bottom: 3rem;
            }
        }

        &::after {
            bottom: -4rem;
            @include m.tablet {
                bottom: 0;
            }
        }
    }
}
