@use '../base/variables' as v;
@use '../base/mixins' as m;

.home {
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    @include m.tablet {
        overflow-y: hidden;
    }

    .main-h {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        max-height: 80rem;

    }



    .info {
        width: 100%;
        height: 70%;
        padding: 0 3rem;

        @include m.tablet {
            width: 100%;
        }

        @include m.desktop {
            width: 50%;
            height: auto;
        }
    }

    .logo-main {
        width: 50%;
        position: absolute;
        max-width: 12rem;
        height: 12rem;
        right: 0;
        padding-right: 3rem;

        top: 0;
        right: 50%;
        transform: translateX(50%);
        padding-right: 0;

        @include m.tablet {
            width: 30%;
            display: block;
            position: initial;
            max-width: 30%;
            height: auto;

        }


        .logo-home {
            width: 100%;
            height: 100%;
        }
    }

    .title {
        color: v.$white;
        position: relative;
        padding-bottom: 6rem;
        font-size: 3.5rem;

        @include m.tablet {
            font-size: 6rem;
        }

        &::before {
            content: '<h1>';
            top: -2.5rem;
        }

        &::after {
            content: '</h1>';
        }

        @include m.tablet {
            padding-left: 0;

            &::after {
                display: block;
                padding-left: 1rem;
            }

            &::before {
                top: -2rem;
            }
        }


        span {
            display: inline-block;

            &:hover {
                color: v.$primary-c2;
            }
        }

        .letter-name {
            display: flex;
            align-items: center;
        }

        .logo {
            width: 7rem;
            margin-left: 2rem;
        }

        .skill {
            padding-bottom: 2rem;
        }
    }

    .skill-front {
        color: v.$gray-text;
        margin: 5rem 0 2rem 0;
        position: relative;
        padding-left: 1.5rem;
        color: v.$primary-c2;
        font-weight: 600;

        &::before {
            content: "<p class=skill>";
            font-size: 2rem;
            position: absolute;
            top: -4rem;
            color: #666565;
            font-family: "La Belle Aurore", cursive;
            user-select: none;
            left: 0;
            font-weight: 400;

            @include m.tablet {
                font-size: 2.2rem;
            }
        }

        &::after {
            content: '</p>';
            position: absolute;
            bottom: -4rem;
            left: 0;
            color: #666565;
            font-family: "La Belle Aurore", cursive;
            user-select: none;
            font-size: 2rem;
            font-weight: 400;

            @include m.tablet {
                font-size: 2.2rem;
            }
        }

    }

    .btn {
        padding-left: 5rem;
        padding-right: 5rem;
        top: 6rem;
    }
}

.title {

    &::before,
    &::after {
        display: block;
        color: #666565;
        font-family: "La Belle Aurore", cursive;
        user-select: none;
        font-size: 2rem;
        position: absolute;
        font-weight: 400;

        @include m.tablet {
            font-size: 2rem;
        }
    }
}

.tag-init {
    
    @include m.tablet {
        position: absolute;
        top: -11rem;
        left: 0;
    }

    &::after,
    &::before {
        color: #666565;
        font-family: "La Belle Aurore", cursive;
        user-select: none;
        font-size: 2rem;
        position: absolute;
        padding: 1rem 2rem;
        top: 2rem;

        @include m.tablet {
            font-size: 2rem;
        }

    }

    &::before {
        content: '<html>';
        top: 0;
        left: 0;
    }

    &::after {
        content: '<body>';
        top: rem;
        left: 1rem;

    }
}

.tag-end {

    &::after,
    &::before {
        color: #666565;
        font-family: "La Belle Aurore", cursive;
        user-select: none;
        font-size: 2rem;
        position: absolute;
        padding: 0 2rem;


    }

    &::before {
        content: '</body>';
        bottom: 10rem;
        left: 2rem;

    }

    &::after {
        content: '</html>';
        bottom: 7rem;
        left: 0;
    }
}

.home {

    .tag-end {
        position: relative;
        width: 100%;
        height: 30px;

        @include m.tablet {
            position: absolute;
            width: 74%;
            bottom: -6rem;
            right: .2rem;
        }

        @include m.desktop {
            width: inherit;
        }
    }
}

// SOCIAL MEDIA MOBIL
.home {
    .social-media {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: 20px;
        padding: 0 2rem;

        @include m.tablet {
            display: none;
        }

        .icon-color {
            path {
                fill: v.$white;
            }
        }

    }

    .logo-main {
        display: none;
    }

}


/* FIX STYLES*/
.main-h {
    @include m.tablet {
        position: relative;
        width: 74% !important;
        margin: 0;
        margin-left: auto;

    }
}